
<main>
    
<section class="form-section">
<img src="/assets/svg/runnning.svg" alt="teste">

<h2> {{title}}</h2>
<ng-content></ng-content>
<div class="btn-wrapper">
    <button class="btnPrimary" (click)="submit()"
    [disabled]="disablePrimaryBtn"
    
    >{{primaryBtnText}}</button>
    <div>
        <span>or</span>
    </div>
    <button class="btnSecondary" (click)="navigate()">{{secondaryBtnText}}</button>


</div>




</section>
<section class="main-section">
    <h1>Move It</h1>
    
    <img src="/assets/svg/rocket.svg" alt="running">
</section>
</main>